body {
    color: black; 
    font-family: ADD, Comic Sans MS, Arial, sans-serif;
    background-image: url(img/bubble.gif); 
    background-size: 2em;
  }


aside {
    width: 30%;
    
}

main {
    width: 65%;
    border: black 0.3em dotted;
    border-radius: 0.3em;
    background-color: white;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: black;
    color:white
}

nav {
    text-align: center;
    width: 65%;
    background-color: white;
    border: black 0.3em solid;
    border-radius: 0.3em;
    padding: 1em;
    font-size: 1.6em;
    margin:auto;
    margin-bottom: 0.5em;
    }


img {
    max-width: 100%;
    height: auto;
} 


ul {
    list-style-type: square;
}

a:link {
    color:black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline solid 0.2em black;
    color: red;
    font-size: 1.1em;
}

h2 {
    margin: 10px;
    text-decoration: underline white 0.2em dashed;
    color: white
}

@font-face {
    font-family: "ADD";
    src: url("resources/ADD.TTF") format("truetype");
}


.container {
    max-width: 60%;
    margin: 0 auto;
}


.nav-link {
    flex: 1;
}

.box {
    border: black 0.3em solid;
    border-radius: 0.3em;
    margin: 5px

}

h4.update{
    border-bottom: dashed black; 
    border-top: black solid; 
    padding-top:2px
}

img.tattoo {
    flex: 1;
    max-width: 10%;
    max-height: 8em;
    padding: 2em;
    position: relative;
}


.dot {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    position:relative;
    right: 6em;
    top: 4em;
  }

#zebravis {
    rotate: -90deg;
    position: sticky;
    bottom: 50%;

}


#guestbook {
    border: black 0.3em solid;
    border-radius: 0.3em;
    margin-right: 5px;
    margin-top: 5px; 
}

#navbar {
    border: black 0.3em solid;
    border-radius: 0.3em;
    margin-right: 5px;
    background-color: white;
}

