@font-face {
    font-family: 'IBM DOS ISO8';
    src: url(resources/IBM_DOS_ISO8.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'IBM DOS ISO8-2X';
    src: url(resources/IBM_DOS_ISO8-2x.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "IBM DOS ISO8";
    
}

hr {
    width: 30%;
    border: 2px solid black
}

a{ 
    color:slateblue
}
a:visited{
    color: darkslateblue 
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: auto;
    justify-content: space-around;
}

.status {
    display:flex;
    flex-direction: row;
    border: 5px solid black;
    width: 50%; 
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1em
}
.status-item{
    padding-left: 1em;
}

.curiosities-page {
    background-color: darkseagreen;
}

.curiosities-page a:hover{
    background-color: seagreen;
    color:white
}
.curio{
    background: rgba(0, 0, 0 , 0.1);
    padding: 0.5em;
    margin-top: 1em;
  
}
.curio  p{
    background: rgba(0, 0, 0 , 0.05);
    padding: 0.1em
}

.about-page {
    background-color: lightsalmon;
}

.about-page a:hover{
    background-color: salmon;
    color:white
}

#homelink{
    margin-left:20%;

}